DATABASE_URL=postgresql://usuario:password@host:5432/nombre_db
PORT=3001
FRONTEND_URL=https://tu-sitio.hostinger.com

CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
